# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# windows compile (vc)
[Dd]ebug/
[Rr]elease/
*.vcxproj.user
*.opensdf
*.sdf
*.ipch
*.suo
*.filters